.App {
  text-align: center;
  height: 100vh;
  padding-top: 10vh;
}

.App-link {
  color: #61dafb;
}


.App.app-dark{
  background-color: #282c34;
  color: white;
}

.App.app-light{
  background-color: white;
  color: #282c34;
}

.App .MuiFilledInput-root{
  border-top-right-radius: 0px;
}

.App.app-dark .MuiFilledInput-root{
  background-color: white
}
.App .MuiButtonBase-root:not(.MuiButton-sizeSmall){
  height: 47px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
